.login__wrraper {
    display: flex;
    justify-content: center;
    height: 90vh;
}
.login {
    display: flex;
    justify-content: center;
    width: 40%;
}
.login input {
    margin-top: 30px;
    display: block;
}
.login__wrraper .login  input:nth-child(2){
    margin-bottom: 30px;
}
.login  {
    display: flex;
    flex-direction: column;
}
.AddTaskContainer {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    align-items: center;
}